@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--color-grey-900);
  color: var(--color-white);
  font-size: clamp(0.8125rem, 1vw, 0.875rem);
  font-weight: 400;
}

main {
  display: contents;
}

article {
  background-color: var(--color-grey-800);
  padding: 2.5rem;
  border-radius: 0.75rem;
  width: clamp(19.4375rem, 87.2%, 24rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  & > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    & > img {
      height: 5.5rem;
      width: 5.5rem;
      border-radius: 50%;
    }
    & > h1 {
      margin-block-start: 1rem;
      font-weight: 600;
    }
    & > p {
      color: var(--color-green);
      margin-block-start: 0.5rem;
      font-weight: 700;
    }
  }
  & > nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > li {
      & > a {
        text-decoration: none;
        background-color: var(--color-grey-700);
        display: block;
        color: var(--color-white);
        font-weight: 700;
        padding: 0.75rem;
        border-radius: 0.5rem;
        &:active {
          color: var(--color-grey-900);
          background-color: var(--color-green);
        }
      }
    }
  }
}
